.container {
    max-width: #{$container + px};
    width: 100%;
    padding: 0 $containerPaddingS;
    margin: 0 auto;
    box-sizing: border-box;
    @media (min-width: $mobileP1) {
        padding: 0 $containerPaddingM;
    }
    @media (min-width: $tabletLargeP1) {
        padding: 0 $containerPadding;
    }
}
